.home {
  margin: 0 auto;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.14);

  > * {
    background-color: white;
  }

  &__wrapper {
    padding: 0 9rem;
    height: 100%;
  }

  &__section {
    width: 100%;
    height: 90vh;

    &--navbar {
      top: 0;
      z-index: 5;
    }

    &--header {
      position: relative;
      z-index: 1;
    }

    &--client,
    &--sosmed {
      height: 25.8rem;
      display: flex;
      align-items: center;
      opacity: 80%;
    }

    &--service {
      position: relative;
      z-index: -1;
    }

    &--testimoni {
      background-color: transparent;
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &--footer {
      background-image: linear-gradient(to bottom, $color-primary, $color-text);
    }
  }

  &__shape {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -2;

    &--header {
      width: 85%;
      right: 0;
      clip-path: polygon(80% 0%, 100% 0%, 100% 100%, 40% 100%);
      background-image: url("https://firebasestorage.googleapis.com/v0/b/maradho-8c79e.appspot.com/o/img%2Fbatik-white.png?alt=media&token=64a70bd5-5051-4eab-b18b-58d2dc6e8b84"),
        linear-gradient(to left, $color-text, $color-primary);
      background-size: contain;
      background-position: right bottom;
      background-repeat: no-repeat;
    }

    &--service {
      right: 0;
      width: 85%;
      clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 40% 100%, 30% 25%);
      background-image: linear-gradient(to left, $color-text, $color-primary);
    }

    &--testimoni {
      left: 0;
      width: 45%;
      background-image: linear-gradient(to top, $color-primary, $color-text);
    }
  }
}
