.client {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;

  &__logo-box {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__logo-img {
    filter: grayscale(100%);
    opacity: 50%;

    &--1 {
      width: 12.5rem;
      height: 9.6rem;
    }

    &--2 {
      width: 12.4rem;
      height: 12.2rem;
    }
  }
}
