.portfolio {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5rem;
  }

  &__left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    @include respond(phone) {
      justify-content: flex-end;
    }

    & button {
      width: fit-content;
      border: 0.1rem solid $color-primary;
    }
  }

  &__right-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include respond(phone) {
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__img {
    height: 60vh;
    box-shadow: 5px 35px 32px -30px rgba(81, 115, 78, 0.9);

    @include respond(phone) {
      height: 25vh;
    }
  }
}
