.portfolio {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  margin: 10rem 0;

  &__frontend,
  &__backend,
  &__database {
    font-size: 1.5rem;
    font-weight: 400;
    color: #555;
    line-height: 2;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  &__left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    @include respond(phone) {
      height: fit-content;
      // justify-content: flex-end;
      align-items: center;
      text-align: center;
    }

    & button {
      width: fit-content;
      border: 0.1rem solid $color-primary;
    }
  }

  &__right-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include respond(phone) {
      order: -1;
      height: fit-content;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__img {
    width: 100%;

    @include respond(phone) {
    }
  }
}
