.service {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  &__left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    @include respond(phone) {
      display: none;
    }
  }

  &__right-box {
    color: white;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list-box {
    display: flex;
    align-items: center;
    gap: 4rem;

    @include respond(tab-port) {
      gap: 2rem;
    }

    &:first-child {
      gap: 5.9rem;
      animation: moveInRight 0.9s ease-in-out;

      @include respond(tab-port) {
        gap: 3.9rem;
      }
    }

    &:nth-child(2) {
      animation: moveInRight 1.3s ease-in-out;
    }

    &:last-child {
      animation: moveInRight 1.5s ease-in-out;
    }
  }

  &__number {
    font-size: 13rem;
    font-weight: 300;
    color: rgba(white, 0.3);

    @include respond(tab-port) {
      font-size: 12rem;
    }
  }

  &__text {
    font-size: 4.5rem;
    font-weight: 300;

    @include respond(tab-port) {
      font-size: 4rem;
    }

    @include respond(phone) {
      font-size: 4rem;

      & span {
        padding: 0 0.5rem;
        background-color: rgba($color-primary, 0.9);
      }
    }
  }
}
