.testimoni {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__left-box {
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
  }

  &__right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 6rem;
  }

  &__list-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    gap: 2rem;
  }

  &__img {
    width: 15rem;
    height: 15rem;
  }

  &__item-box {
    display: flex;
    flex-direction: column;
    opacity: 80%;
    width: 100%;
    gap: 2rem;

    & span {
      color: $color-primary;
      font-size: 1.2rem;
    }
  }

  &__text {
    font-size: 1.6rem;
    line-height: 3rem;
  }
}
