.header {
  height: calc(65rem - 12.4rem);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__left-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  &__button-box {
    width: max-content;
    margin-top: 3rem;
  }

  &__right-box {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/maradho-8c79e.appspot.com/o/img%2Fme.png?alt=media&token=ef7fb01b-a5c8-4deb-ab4a-08d9c3176743");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
