.header {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  &__left-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  &__button-box {
    width: max-content;
    margin-top: 3rem;
  }

  &__right-box {
    height: 100%;
    background-image: url("/src/assets/me.webp");
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
}
