.navbar {
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }

  &__logo-img {
    width: 4rem;
    height: 4rem;
  }

  &__logo-name {
    font-size: 2rem;
    font-weight: 600;
  }

  &__button {
    background-color: white;
    height: 5.5rem;
    width: 5.5rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 6;
    box-shadow: 0 1px 15px rgba($color-primary, 0.14);
    text-align: center;
    cursor: pointer;
    top: 3rem;
    right: 3rem;
  }

  &__link-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    transform: none;
    margin-top: 0;
    gap: 18px;
  }

  // NAV TOGGLE
  &__checkbox {
    display: none;
  }

  &__background {
    height: 5.3rem;
    width: 5.3rem;
    border-radius: 50%;
    position: fixed;
    top: 3.1rem;
    right: 3.1rem;
    background-image: radial-gradient($color-primary, $color-text);
    z-index: 4;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__link-box {
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    top: 24%;
    left: 42.5%;
    z-index: 5;
    animation: moveInBottom 0.4s ease-out 0.3s;
    animation-fill-mode: backwards;

    & > .btn__inverse--sm {
      font-size: 3rem;
      background-color: transparent;
      color: white;
      padding: 1.5rem 3.5rem;
    }
  }

  // ICON
  &__icon {
    position: relative;
    margin-top: 2.7rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 0.2rem;
      background-color: $color-text;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
